html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div {
  height: 100%;
  width: 33.33%;
  float: left;
}

.blue {
  background-color: rgb(57, 102, 154);
}
.green {
  background-color: rgb(82, 214, 151);
}
.lellow {
  height: 65%;
  background-color: rgb(204, 223, 51);
}
.red {
  float: right;
  height: 35%;
  background: url(http://images.realclear.com/323859_5_.jpg) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
